@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  line-height: 1.2em;
  margin: 0;
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  /*border: 2px red solid;*/
}

:root {
  --background-primary-color: #1f2937;
  --background-secondary-color: #e5e7eb;
  --primary-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --highlight-color: #3882f6;
}

button {
  font-size: 18px;
  font-weight: 600;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  padding: 5px 20px;
  border-radius: 10px;
  width: 130px;
  height: 37.5px;
  border: none;
}

#hero {
  background-color: #1f2937;
  height: 535px;
}

#nav-bar {
  max-width: 70%;
  margin: auto;
  margin-bottom: 120px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}
#nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-bar ul li {
  display: inline;
  text-align: center;
  margin-left: 15px;
  color: var(--secondary-color);
  font-size: 18px;
}

#content-wrap {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex: 1;
  flex-shrink: 1;
  justify-content: space-between;
}
#hero-content {
  max-width: 47.5%;
  min-width: 45%;
  font-size: 18px;
  color: #e5e7eb;
}

#hero-content h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}
.hero-button {
  margin-top: 15px;
}
#hero-image-wrap {
  color: #1f2937;
  max-width: 50%;
  max-height: 100%;
}

#hero-image-wrap img {
  width: 100%;
  height: 100%;
}

#information-content {
  height: 450px;
}
.information-header {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: var(--background-primary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

#illustration-wrap {
  max-width: 60%;
  margin: auto;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.image-card {
  width: 175px;
  text-align: center;
  color: var(--background-primary-color);
}
.img-box {
  width: 175px;
  height: 175px;
  border: 4px solid blue;
  border-radius: 14px;
  margin-bottom: 8px;
}
#testimonial {
  background-color: var(--background-secondary-color);
  height: 430px;
  text-align: center;
  color: var(--background-primary-color);
}
#quote-wrap {
  width: 65%;
  margin: auto;
}
#quote {
  margin: auto;
  padding-top: 125px;
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
}
.quote-author {
  font-size: 36px;
  text-align: end;
}

#call-to-action {
  height: 350px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.highlight-action-box {
  background-color: var(--highlight-color);
  border-radius: 14px;
  max-width: 75%;
  margin: auto;
  color: white;
  display: flex;
  flex: 1;
  padding: 60px 100px;
  font-size: 1.2rem;
}
.action-text-wrap {
  flex-grow: 2;
}
.action-button {
  border: 2px solid white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
  background-color: var(--background-primary-color);
  height: 100px;
}
