@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    line-height: 1.2em;
    margin:0;
    font-family: Roboto;
    /*border: 2px red solid;*/
}

:root{
    --primary-color: #F9FAF8;
    --secondary-color: #E5E7EB;
    --highlight-color: #3882F6;
    --secondary-size: 18px;
}

button{
    font-size: 18px;
    font-weight: 600;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 5px 20px;
    border-radius: 10px;
    width: 130px;
    height: 37.5px;
    border: none;
}

#hero{
    background-color: #1F2937;
    height: 535px;
}

#nav-bar{
    max-width: 70%;
    margin: auto;
    margin-bottom: 120px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    
}
#nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar ul li{
    display: inline;
    text-align: center;
    margin-left: 15px;
    color: var(--secondary-color);
    font-size: var(--secondary-size);
}

#content-wrap{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex: 1;
    flex-shrink: 1;
    justify-content: space-between;
}
#hero-content{
    max-width: 47.5%;
    min-width: 45%;
    font-size: 18px;
    color: #E5E7EB;
}

#hero-content h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.hero-button{
    margin-top: 15px;
}
#hero-image-wrap{
    color: #1F2937;
    max-width: 50%;
    max-height: 100%;
}

#hero-image-wrap img{
    width: 100%;
    height: 100%;
}